<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="icon" href="../static/images/favicon.ico" sizes="32x32" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <script type="text/javascript" src="../static/js/jquery-1.3.2.min.js"></script>
    <script src="../static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script src="../static/layui_exts/excel.js"></script>

    <style>
        .o_div{
            background: url("../static/images/01.jpg") no-repeat;
        }
        .o_span{
            display: block;
            text-align: center;
            font-size: 20px;
            letter-spacing:8px
        }
    </style>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="#">宿舍管理系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"><img src="../static/images/favicon.ico" class="layui-nav-img" th:text="${user.username}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('多开帐号','/')">多开帐号</a></dd>
                <dd><a href="/">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>宿舍信息管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/DormitoryList" th:attr="_href='/DormitoryList?role='+${user.role}+'&pid='+${user.pid}">
                            <!--点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>宿舍信息</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/studentList" th:attr="_href='/studentList?role='+${user.role}+'&pid='+${user.pid}">
                            <!--点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>入住学生信息</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/studentRegister">
                            <!--点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>学生实名登记</cite>
                        </a>
                    </li >
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#59164;</i>
                    <cite>门禁系统</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/doorcontrolOut">
                            <!--点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>模拟扫脸门禁外出功能</cite>
                        </a>
                    </li >
                </ul>

                <ul class="sub-menu">
                    <li>
                        <a _href="/doorcontrolIn">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>模拟扫脸门禁归寝功能</cite>
                        </a>
                    </li >
                </ul>

                <ul class="sub-menu">
                    <li>
                        <a _href="/findDormRepair">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>维修登记</cite>
                        </a>
                    </li >
                </ul>

            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#59042;</i>
                    <cite>归寝记录统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a _href="/backEcharts">
                            <!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>归寝情况图表统计</cite>
                        </a>
                    </li >
                </ul>

                <ul class="sub-menu">
                    <li>
                        <a _href="/lateBackReco">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>晚归记录</cite>
                        </a>
                    </li >
                </ul>

                <ul class="sub-menu">
                    <li>
                        <a _href="/noBackReco">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>未归记录</cite>
                        </a>
                    </li >
                </ul>

            </li>

            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe613;</i>
                    <cite>访客管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/findVisitor">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>访客列表</cite>
                        </a>
                    </li >
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员信息管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/adminList" th:attr="_href='/adminList?role='+${user.role}+'&pid='+${user.pid}">
<!--                            点击在右侧出现动态的Tab-->
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li >
                </ul>
            </li>


        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content" >
            <div class="layui-tab-item layui-show o_div" >
                <span class="o_span" th:text="${user.realname}+${user.role}+'，欢迎来到宿舍管理系统！'"></span>
                <div class="layui-col-md6" style="padding: 30px;left: 60px;background-color: #F2F2F2;">
                    <div class="layui-card">
                        <div class="layui-card-header">个人信息
                        </div>
                        <div class="layui-card-body">
<!--                            <div class="layui-form-label" style="text-align: left">你好</div>-->
                            用户名：<span id="username" th:text="${user.username}"></span>
                        </div>
                        <div class="layui-card-body">
                            姓名：<span id="realname" th:text="${user.realname}"></span>
                        </div>
                        <div class="layui-card-body">
                            电话：<span id="phone" th:text="${user.phone}"></span>
                        </div>
                        <div class="layui-card-body">
                            角色身份：<span id="role" th:text="${user.role}"></span>
                        </div>
                        <div class="layui-card-body" hidden>
                            pid：<span id="pid" th:text="${user.pid}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2020-2021 版权所有</div>
</div>
<!-- 底部结束 -->

<script>

    layui.config({
        base: 'layui_exts/',
    }).extend({
        excel: 'excel',
    });

    function ajaxtoBack() {

        var user=[{
            role:$("#role")[0].innerText,
            pid:$("#pid")[0].innerText
        }];
        $.ajax({
            type:'POST',
            data:JSON.stringify(user),
            contentType:'application/json',
            dataType:'json',
            url:'http://localhost:8080/studentList',
            success:function (data) {
                alert("OK");
            },
            error:function (e,msg,obj) {
                console.log(e)
                console.log(msg)
                console.log(obj)
                alert("error");
            }
        })
    }
    

</script>
</body>
</html>