<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生实名登记</title>
    <link rel="icon" href="../static/images/favicon.ico" sizes="32x32" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="stylesheet" href="../static/css/pg_btn.css">
    <script type="text/javascript" src="../static/js/jquery-1.3.2.min.js"></script>
    <script src="../static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form" action="/saveStudent" method="post"  id="f_auto" accept-charset="UTF-8">
        <div class="layui-form-item">
            <label for="sno" class="layui-form-label">
                <span class="must">*</span><span class="f_sp">学号</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sno" name="sno" lay-verify="required" lay-reqtext="学号不能为空" placeholder="请输入" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="sname" class="layui-form-label">
                <span class="must">*</span><span class="f_sp">姓名</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sname" name="sname" lay-verify="required" lay-reqtext="姓名不能为空" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="ssex" class="layui-form-label">
                <span class="f_sp">性别</span>
            </label>
            <div class="layui-input-inline" id="ssex">
                <input type="radio" name="ssex" id="s_male" value="男" title="男" checked="">
                <input type="radio" name="ssex" id="s_female" value="女" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="imgurl" class="layui-form-label">
                <span class="f_sp">实名照片</span>
            </label>
            <div class="layui-input-inline" id="imgurl">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                </div>
                <input type="hidden" id="img" name="imgurl">
                <span class="must" th:text="${msg}"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="sphone" class="layui-form-label">
                <span class="f_sp">电话</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sphone" name="sphone" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    <span class="f_sp">寝室编号</span>
                </label>
                <div class="layui-input-inline">
                    <select name="dormitoryid"  lay-verify="required" lay-search="">
                        <option th:each="dormitory: ${dormitoryList}" th:value="${dormitory.pid}" th:text="${dormitory.dormitorycode}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">
                    <span class="f_sp">辅导员</span>
                </label>
                <div class="layui-input-inline">
                    <select name="instructorid"  lay-verify="required" lay-search="">
                        <option th:each="instructor: ${instructorList}" th:value="${instructor.pid}" th:text="${instructor.realname}"></option>
                    </select>
                </div>
            </div>
        </div>

        <span class="must" th:text="${msg2}"></span>
        <div class="layui-form-item" id="btn_xg">
            <button  class="layui-btn"  id="btn_on" lay-filter="updateForm" lay-submit="">
                保存
            </button>
        </div>
    </form>
</div>

<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/getImage' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $("#img").attr("value",res.data.src);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>

</body>
</html>